 body{
     background-color:#121212;
     color: #ffffff;
     /* padding-right: 15px; */
     /* padding-left: 15px; */

 }

 /* /////////////// NAVBAR //////////////////////// */

/* .mynav a{
    background-color: red;
    color: green;
} */

.menu1{
    margin-top: 10px;
}
/* .logo{
    font-size: 30px;
    margin-left: 30px;
    font-weight: 700;
    letter-spacing: 3px;
} */

/* trying */
/* .logo{
 position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.logo::before{
  width: 100%;
  height: 0%;
}
.logo:hover::before{
  height: 100%;
} */


/* trying */

.logo::before{
    content: 'FINE';
    font-size: 30px;
    margin-left: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}
.logo:hover::before{
    content: 'FINE';
    color: green;
    transition: all 1s ease-in-out;
  transform: scaleX(1);  
  transform-origin:0 50%;
}

.navii li a{
    margin-right: 26px;
    font-weight: 400;

     /* position:relative;
  text-decoration:none;
  display:inline-block; */
}

.navii li a::after{
    /* background: black;
   content: '';
   display: block;
   width: 40px;
    height: 1px; */

    display:block;
  content: '';
  border-bottom: solid 1px green;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}



.navii li a:hover::after{
    /* background: green;*/

    transform: scaleX(1);
  transform-origin:0 50%;
}


/* HEADING 1 */
/* .heading-1{
    height: 90vh;
}

.hh{
position: fixed;
  top: 37%;
  left: 20%;
  transform: translateY(-50%, -50%); */
  /* font-size: 63px; */
  /* background-color: gray; */
/* } */

/* .hh h1{
    font-size: 53px;
    font-weight: 600;
    letter-spacing: 2px;
}

.hh a{
    list-style: none;
    text-decoration: none;
}
 
.hh a::after{
    display:block;
  content: '';
  border-bottom: solid 1px green;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}

.hh a:hover::after{
    /* background: green;*/

    /* transform: scaleX(1);
  transform-origin:0 50%;
}  */

.heading1{
    /* background-color: red; */
    padding-top: 220px;
    padding-left: 40px;
    height: 100vh;

}

.hh h1{
    font-size: 53px;
    font-weight: 600;
    letter-spacing: 2px;
}
.lasth{
    color: green;
    /* background-color: green; */
}

.hh a{
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 50px;
}



.hh a:hover::after{
 
    /* background: black;
   content: '';
   display: block;
   width: 40px;
    height: 1px; */
   background: black;
    display:block;
  content: '';
 width: 130px;
    height: 1px;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}



.hh a:hover::after{
    background: green;

    transform: scaleX(1);
  transform-origin:0 50%;
}

/* coping */

.hidden {
  opacity:0;
}

.console-contai{
    font-size: 3rem;
    font-weight: 600;
    
}

.console-container {
 
  /* font-family:Khula; */
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}


.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/* HEADING 2 */

.heading2{
     margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading2.jpeg) no-repeat 0 0;
    background-size: cover;
    
}
 .myheading2 {
    /* background-color:red; */
    margin: 170px;
    /* margin-top: 100px; */
    
}

 .myheading2 h1{
     font-size: 53px;
    font-weight: 600;
    letter-spacing: 2px;
 }

 .myheading2 a{
     color: #ffffff;
     font-size: 1rem;
     cursor: pointer;
     text-decoration: none;
 }

 /* HEADING 3   */

 .heading3{
     margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading3.jpeg) no-repeat 0 0;
    background-size: cover;
 }

 .heading4{
      margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading4.jpeg) no-repeat 0 0;
    background-size: cover;
 }
  .heading5{
      margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading5.jpeg) no-repeat 0 0;
    background-size: cover;
 }

 .heading5-color h1{
     color: black;
 }

 .heading5-color a{
     color: black;
 }

  .heading6{
      margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading6.jpeg) no-repeat 0 0;
    background-size: cover;
 }

  .heading7{
      margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading7.jpeg) no-repeat 0 0;
    background-size: cover;
 }

 .heading8{
      margin-top: 30px;
     margin-right: 40px;
    margin-left: 40px; 
    height: 100vh;
    background: url(/fine-wear/images/heading8.jpeg) no-repeat 0 0;
    background-size: cover;
 }

 .heading9{
     margin-top: 30px;
     padding-right: 40px;
    padding-left: 40px; 
    background-color: #ffffff;
    color: black;
 }

 .heading9 .myheading9{
     margin-top: 80px;
 }

 .myheading9{
     margin-bottom: 30px;
 }

 .myheading9 a{
     border-bottom: 1px solid red;
     color: black;
 }
 .heading9{
     text-align: center;
 }

 .heading9 h2{
     font-size: 30px;
    /* margin-left: 30px; */
    font-weight: 500;
    letter-spacing: 2px;
    /* text-align: center; */
 }

  /* .heading9 h2{
     border-bottom: 1px solid green;  
 } */
 /* .heading9 h2:hover{
     border-bottom: 1px solid green;

 }  */

 /* .heading9 h2::after{ */
    /* background: black;
   content: '';
   display: block;
   width: 40px;
    height: 1px; */

    /* display:block;
  content: '';
  border-bottom: solid 1px green;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
} */



/* .heading9 h2:hover::after{ */
    /* background: green;*/

    /* transform: scaleX(1);
  transform-origin:0 50%;
} */

.heading9 h2:hover{
    color: green;
    cursor: pointer;
}

/* FOOTER */

.footer{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;

}

.footer p{
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}
.footer p:hover{
    color: green;
}
.social {
    text-align: end;
    /* padding-right: 10px; */
}
.social a{
    padding-right: 40px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.social a:hover{
    color: green;
}


/* MOBILE SCREEN */

