 body{
     background-color:black;
     color: white;
     /* padding-right: 15px; */
     /* padding-left: 15px; */

 }

 /* /////////////// NAVBAR //////////////////////// */

/* .mynav a{
    background-color: red;
    color: green;
} */
.navii:hover{
    color: pink !important;
}
 