.row{
    height: 90vh;
}

.pink{
    background-color: pink;
}

.green{
    background-color:green;
}

.aqua{
    background-color: aqua;
}

.red{
    background-color:red;
}
.myborder{
    border: 4px solid black;
}