.col-8,.col-4,.col-5{
    border: 1px solid black;
}
.row{
    border: 3px solid green;
}

#websitename{
    background-color: red;
}
.green{
    background-color: rgb(209, 248, 150);
}
.red{
    background-color: rgb(179, 37, 68);
}
.pink{
    background-color: rgb(247, 144, 239);
}
.aqua{
    background-color:aqua;
}
.mygrey{
  background-color: rgb(216, 204, 204);
}

.theheight{
    padding-top: 60%;
    height: 80vh;
    padding-left: 30px;
}

.theheight li{
    list-style: none;
    padding: 4px;
    font-weight: 500;
    font-size: 20px;
}