
div{
    width: 400px;
    margin: 200px auto;
    height: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-color: green;
    border: solid aqua;
}

.box{
    background-color: red;
    padding: 10px;
}
