

/* ///////////////// NAVBAR /////////////////////// */

a{
    list-style: none;
    color: #0065cc;
    text-decoration: none;
    /* color: chartreuse; */
}
a:hover{
    text-decoration: none;
    color: #0065cc;
}

.mynav{
    background-color:#333333;
    color: red !important;
}

.nav-heading li a {
    margin-right: 50px;
    font-size: 14px;
    font-weight: 250;
    padding-bottom: 4px;
    padding-top: 4px;
    color: #e5e5e5 !important;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
}

.nav-heading li a:hover {
    color: whitesmoke !important;
}

.nav-heading li a i {
    font-size: 20px;
}

/* TOP HEADING */

.top-heading{
    background-color:#f5f5f7;
    /* margin-top: 5px; */
    /* padding-top: 5px; */
    /* padding-bottom: 3px; */
    /* margin-bottom: 3px; */
    text-align: center;
    font-size: 14px;
    /* padding: 2px 0; */
    /* background-color: red; */
}

.top-heading p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

/* ////////////// HEADING 1 ///////////////////////*/

.heading1{
    background: url("images/image1.jpg") no-repeat ;
    /* background-size: center; */
    height: 90vh;
    background-size: 1800px 1100px;
    background-position:right 55% bottom 45%;
    /* max-width: 200%; */
    /* width: 1900px; */
}

.myheading1{
    /* margin-top: 40px; */
    padding-top: 45px;
    /* background-color: green; */
    /* margin-top: 200px; */
    /* padding-bottom: 2px; */
    line-height: 35px;
}

.myheading1 h1{
    font-size: 55px;
    font-weight: 600;
}

.myheading1 p{
    font-size: 35px;
    font-weight: 300;
}

.myheading1 a{
    font-size: 20px;

}

.myheading1 a:hover{
    text-decoration: underline ;

}

.myheading1 a:last-child{
    padding-left: 40px;
}


/* //////////// HEADING 2 ////////////////////////*/

.heading2{
    margin-top: 20px;
    background: url("images/image2.jpg") no-repeat ;
    /* background-size: center; */
    height: 90vh;
    background-size: 1500px 1000px;
    background-position:right 55% bottom 45%;
    /* max-width: 200%; */
    /* width: 1900px; */
}

.myheading2{
     padding-top: 45px;
    line-height: 35px;
}
.myheading2 h1{
    font-size: 55px;
    font-weight: 600;
    color: white;
}
.myheading2 p{
    color: #f9bde7;
    font-size: 25px;
}

.myheading2 a{
    font-size: 20px;

}

.myheading2 a:hover{
    text-decoration: underline ;

}

.myheading2 a:last-child{
    padding-left: 40px;
}

/* /// APPLE WATCH HEADING3 */

.apple-watch{
    margin-top: 10px;
    background: url("images/applewatchbackground.jpg") no-repeat ;
    height: 90vh;
    background-size: 1500px 700px;
    background-position:right 55% bottom 45%;
}
.myapple-watch{
    padding-top: 50px;
}

.myapple-watch img{
    width: 200px;
}

.myapple-watch h2{
    padding-top: 20px;
    font-weight: 330;
    font-size: 26px;
}
.myapple-watch p{
    font-weight: 250;
    color: gray;
}

.myapple-watch a{
    font-size: 20px;

}

.myapple-watch a:hover{
    text-decoration: underline ;

}

.myapple-watch a:last-child{
    padding-left: 40px;
}

/* ////////  FITNESS & IPAD /////// */

.fitness-ipad{
    margin-top: 15px;
}

/* fitness */

.fitness{
    margin-left: 10px;
     background-color:green;
    background: url("images/fitness-background.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
}
.fitness img{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 200px;
}

.fitness p{
    line-height: 8px;
    font-size: 19px;
}

.fitness a{
    font-size: 20px;

}

.fitness a:hover{
    text-decoration: underline ;

}

.fitness a:last-child{
    padding-left: 40px;
}





/* //// IPAD */

.ipad{
    margin-right: 12px;
    background: url("images/ipadbackground.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
}

.ipad img{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 200px;
}

.ipad p{
    line-height: 8px;
    font-size: 19px;
}

.ipad a{
    font-size: 20px;

}

.ipad a:hover{
    text-decoration: underline ;

}

.ipad a:last-child{
    padding-left: 40px;
}

/* IMAC AND AIRTAG */

.imac{
    margin-left: 10px;
     background-color:green;
    background: url("images/imac-backgroud.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
}

.imac h1{
    padding-top: 40px;
    padding-bottom: 20px;
    /* width: 200px; */
}

.imac p{
    line-height: 8px;
    font-size: 19px;
}

.imac a{
    font-size: 20px;

}

.imac a:hover{
    text-decoration: underline ;

}

.imac a:last-child{
    padding-left: 40px;
}

.airtag{
     margin-right: 12px;
    background: url("images/airtag-background.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
}

.airtag img{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100px;
}

.airtag p{
    line-height: 8px;
    font-size: 19px;
}

.airtag a{
    font-size: 20px;

}

.airtag a:hover{
    text-decoration: underline ;

}

.airtag a:last-child{
    padding-left: 40px;
}

/* APPLE CARD AND APPLE TV */

/* apple card */

.apple-card{
    margin-left: 10px;
     background-color:green;
    background: url("images/applecard-background.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
}
.apple-card img{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 200px;
}

.apple-card p{
    line-height: 8px;
    font-size: 19px;
}

.apple-card a{
    font-size: 20px;

}

.apple-card a:hover{
    text-decoration: underline ;

}

.apple-card a:last-child{
    padding-left: 40px;
}

/* apple tv  */

.apple-tv{
    margin-right: 12px;
    background: url("images/apple.background.jpg") no-repeat ;
    height: 80vh;
    background-size: 700px 700px;
    background-position:right 55% bottom 45%;
    text-align: center;
    display: block;
}

.apple-tv img{
    margin-top: 40px;
    /* padding-bottom: 20px; */
    width: 150px;
}

 .apple-tv a{
    font-size: 24px; 
    display: block;
    padding-left: 60px;
    /* text-align: end; */
    margin-top: 450px;
    /* background-color: green; */
    color: black;
    letter-spacing: 2px;
    font-weight: 300;

}

/* LAST HEADING */

.last-heading{
   background-color: #f5f5f7;
   padding-right: 200px;
   padding-left: 200px;
   padding-top: 30px;
   margin-top: 10px;

}

.last-heading p{
    color: #8c8c91;
    font-size: 12px;
    line-height: 16px; 
}